version: '3.8'

services:
  postgres:
    image: postgres:latest
    container_name: pruebaDB
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: pruebaDB
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql
    networks:
      - app-network

  node-app:
    build:
      context: ./src
      dockerfile: Dockerfile
    container_name: mi-servicio
    ports:
      - "3000:3000"
    depends_on:
      - postgres
    networks:
      - app-network

volumes:
  postgres_data:


networks:
  app-network:
    driver: bridge
